[submodule "bash/bash-git-prompt.symlink"]
	path = bash/bash-git-prompt.symlink
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
