atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink
vim/vim.symlink/.netrwhist
*.pyc
vim/vim.symlink/bundle/*
tmux/tmux.symlink/plugins/
