[Unit]
Description=Go Language Server Socket for Per-Connection Servers

[Socket]
ListenStream=127.0.0.1:25000
Accept=No

[Install]
WantedBy=sockets.target
